<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>404 Not Found</title>
</head>
<body>
      <!-- Navbar Section -->
  <nav class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/" class="text-xl font-bold">Climate Solutions</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><a href="/about">About</a></li>
        <li tabindex="0">
          <a>
            Sector
          </a>
          <ul class="p-2 bg-base-100">
            <li><a href="/solutions/projects?sector=Energy">Energy</a></li>
            <li><a href="/solutions/projects?sector=Transportation">Transportation</a></li>
            <li><a href="/solutions/projects?sector=Waste">Waste</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
    <!-- Main Content -->
  <div class="container mx-auto">
    <!-- Hero Component -->
    <div class="hero bg-base-200 my-8">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">404 - Page Not Found</h1>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
